<a href="https://colab.research.google.com/github/WMFrts/agrupamento-clustering/blob/main/estatistica_para_ciencia_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h3><center>1 POPULAÇÃO E AMOSTRA</center></h3>

<p align = 'JUSTIFY' >Uma população é um conjunto de pessoas, itens ou eventos sobre os quais você quer fazer inferências. 

Uma amostra é um subconjunto de pessoas, itens ou eventos de uma população maior que você coleta e analisa para fazer inferências.

**1.1 BIBLIOTECAS**

In [1]:
import pandas as pd
import random
import numpy as np

**1.2 BASE DE DADOS**
<p align="Justify">Carregamento da base de dados que será utilizada: censo dos EUA</p>

In [3]:
# criação de variável para armazenar os dados
# pd.read_csv() : indicação de leitura através do pd 

dataset = pd.read_csv('census.csv')

In [4]:
# .shape para indicar o número de linhas e colunas 

dataset.shape

(25565, 15)

In [5]:
#.head mostra os 5 primeiros registros

dataset.head()

   age          workclass  final-weight  ... hour-per-week  native-country  income
0   39          State-gov         77516  ...            40   United-States   <=50K
1   50   Self-emp-not-inc         83311  ...            13   United-States   <=50K
2   38            Private        215646  ...            40   United-States   <=50K
3   53            Private        234721  ...            40   United-States   <=50K
4   28            Private        338409  ...            40            Cuba   <=50K

[5 rows x 15 columns]

In [6]:
# .tail : mostrará os 5 últimos registros

dataset.tail()

       age   workclass  final-weight  ... hour-per-week  native-country  income
25560   60   Local-gov        202473  ...            40   United-States   <=50K
25561   24     Private        162312  ...            40           South   <=50K
25562   45     Private         72844  ...            46   United-States   <=50K
25563   49     Private        206947  ...            40   United-States   <=50K
25564   19     Private         64112  ...            40         United-     NaN

[5 rows x 15 columns]

**1.3 AMOSTRAGEM ALEATÓRIA SIMPLES**
<p align="Justify">Seleção aleatória de um número especificado de elementos da amostra dentro do banco de dados</p>

In [7]:
# criação de variável dataframe
# .samples(n = 100) : função do pd com retorno de 100 registros aleatórios
# a cada execução, um resultado diferente

df_amostra_aleatoria_simples = dataset.sample(n=100)

In [8]:
# para conferir

df_amostra_aleatoria_simples.shape

(100, 15)

In [9]:
# replace = False: parâmetro (padrão, não precisa citar) que desabilita a amostragem da mesma linha mais de uma vez
# random_state : cria uma semente geradora para retornar sempre o mesmo resultado aleatório (reprodutibilidade)

df_amostra_aleatoria_simples = dataset.sample(n=100, replace=False, random_state= 1)

In [10]:
df_amostra_aleatoria_simples.head()

       age   workclass  final-weight  ... hour-per-week  native-country  income
10030   35     Private        110402  ...            35   United-States   <=50K
18330   23     Private        314539  ...            40   United-States   <=50K
11774   31   State-gov         29152  ...            40   United-States   <=50K
20570   24     Private        233856  ...            45   United-States   <=50K
12898   48     Private        199590  ...            40          Mexico    >50K

[5 rows x 15 columns]

In [11]:
df_amostra_aleatoria_simples.head()

       age   workclass  final-weight  ... hour-per-week  native-country  income
10030   35     Private        110402  ...            35   United-States   <=50K
18330   23     Private        314539  ...            40   United-States   <=50K
11774   31   State-gov         29152  ...            40   United-States   <=50K
20570   24     Private        233856  ...            45   United-States   <=50K
12898   48     Private        199590  ...            40          Mexico    >50K

[5 rows x 15 columns]

In [12]:
# para utilizar essa amostra, será definida uma função
# pode passar a um dataframe quantos elementos se quer retornar e a função retorna o dataframe completo
# os parâmetros passados serão uma base de dados e o número de amostras

def amostragem_aleatoria_simples(dataset, amostras):
  return dataset.sample(n = amostras)

In [13]:
# novo dataframe para receber a função

df_amostra_aleatoria_simples = amostragem_aleatoria_simples(dataset, 100)
df_amostra_aleatoria_simples.shape

(100, 15)

**1.4 AMOSTRAGEM SISTEMÁTICA**
<p align= 'JUSTIFY'>Na amostragem sistemática, seleciona-se as unidades amostrais através de um esquema preestabelecido de sistematização, visando cobrir a população em toda a sua extensão, obtendo-se um modelo uniforme.

In [14]:
dataset.shape

(25565, 15)

In [15]:
# população/amostra
# supondo que se quer uma amostra de 100 pessoas

len(dataset)/100

255.65

In [16]:
# o resultado indica que será selecionado um número aleatório entre 0 e 325
# e os próximos elementos serão selecionados de 325 em 325

# resultado de len(dataset)/100 ser inteiro:

len(dataset)//100

255

In [17]:
# selecionar um número randômico entre 0 e 325
# utilização da função randint() do pacote random

random.randint(0,325)

199

In [18]:
# para ter sempre o mesmo número aleatório:

random.seed(1)   
random.randint(0,325)

68

In [19]:
# agora, a intenção é selecionar 99 elementos de 325 em 325
# np apresenta a função arange() para a geração desses números

np.arange(68, len(dataset), step = 325)

array([   68,   393,   718,  1043,  1368,  1693,  2018,  2343,  2668,
        2993,  3318,  3643,  3968,  4293,  4618,  4943,  5268,  5593,
        5918,  6243,  6568,  6893,  7218,  7543,  7868,  8193,  8518,
        8843,  9168,  9493,  9818, 10143, 10468, 10793, 11118, 11443,
       11768, 12093, 12418, 12743, 13068, 13393, 13718, 14043, 14368,
       14693, 15018, 15343, 15668, 15993, 16318, 16643, 16968, 17293,
       17618, 17943, 18268, 18593, 18918, 19243, 19568, 19893, 20218,
       20543, 20868, 21193, 21518, 21843, 22168, 22493, 22818, 23143,
       23468, 23793, 24118, 24443, 24768, 25093, 25418])

In [20]:
# definição de uma função para organizar o código em um mesmo local


def amostra_sistematica(dataset, amostras):
  intervalo = len(dataset)// amostras
  random.seed(1)   # para sempre retornar o mesmo valor aleatório
  inicio = random.randint(0, intervalo)   # primeira pessoa que será selecionada
  indices = np.arange(inicio, len(dataset),step = intervalo)   # gera a lista com os índices que serão selecionados
  amostra_sistematica = dataset.iloc[indices]   # passagem de "indices" para outro dataframe que fará a busca do 
                                                # dataframe original
  return amostra_sistematica

In [21]:
# teste:

# criação de variável que recebe a função com o dataset (32561) e 
# a quantidade de elementos que se quer buscar (100)

df_amostra_sistematica = amostra_sistematica(dataset, 100)
df_amostra_sistematica.shape

(100, 15)

In [22]:
df_amostra_sistematica.head()

      age          workclass  ...  native-country  income
68     49       Self-emp-inc  ...   United-States    >50K
323    29            Private  ...   United-States   <=50K
578    58          Local-gov  ...   United-States   <=50K
833    73   Self-emp-not-inc  ...   United-States   <=50K
1088   42            Private  ...   United-States    >50K

[5 rows x 15 columns]

**1.5 AMOSTRAGEM POR GRUPOS/CONGLOMERADOS**
<P align = 'JUSTIFY'> Trata-se de um método probabilístico em que a população é dividida em grupos (conglomerados ou clusters). Em seguida, uma amostra aleatória de cada grupo é selecionada para a pesquisa, de forma natural.

In [23]:
# caso a base fosse dividida em 10 grupos

len(dataset)/ 10

2556.5

In [24]:
# para percorrer todas as linhas e atribuir um grupo a cada registro

grupos = []   # criação de lista vazia
id_grupo = 0   # para armazenar a id dos grupos, que será do 0 até o 9
contagem = 0   # vai contar até 3256, quando ocorre uma mudança de grupo - controla id

for _ in dataset.iterrows():   # para percorer cada um dos registros da base de dados
  grupos.append(id_grupo)   # acrescenta na lista
  contagem += 1   
  if contagem > 3256:   # mudança de grupo
    contagem = 0   # zera-se a contagem e 
    id_grupo += 1   # incrementa

In [25]:
# utilização do np, com a função unique(), para verificação
# retorna os grupos e suas respectivas quantidades de elementos

np.unique(grupos, return_counts = True)

(array([0, 1, 2, 3, 4, 5, 6, 7]),
 array([3257, 3257, 3257, 3257, 3257, 3257, 3257, 2766]))

In [26]:
# verificação do número de linhas

np.shape(grupos), dataset.shape

((25565,), (25565, 15))

In [27]:
# é necessário colocar o grupo logo após "income"

dataset.head()

   age          workclass  final-weight  ... hour-per-week  native-country  income
0   39          State-gov         77516  ...            40   United-States   <=50K
1   50   Self-emp-not-inc         83311  ...            13   United-States   <=50K
2   38            Private        215646  ...            40   United-States   <=50K
3   53            Private        234721  ...            40   United-States   <=50K
4   28            Private        338409  ...            40            Cuba   <=50K

[5 rows x 15 columns]

In [28]:
# concatenação da lista de grupos no dataset, após "income"

dataset['grupos'] = grupos   # pd já analisa a existência e acrescenta

In [29]:
# essa verificação é importante porque os números de linhas precisam coincidir

np.shape(grupos), dataset.shape

((25565,), (25565, 16))

In [30]:
# verificação do novo grupo no dataset

dataset.head()

   age          workclass  final-weight  ...  native-country  income grupos
0   39          State-gov         77516  ...   United-States   <=50K      0
1   50   Self-emp-not-inc         83311  ...   United-States   <=50K      0
2   38            Private        215646  ...   United-States   <=50K      0
3   53            Private        234721  ...   United-States   <=50K      0
4   28            Private        338409  ...            Cuba   <=50K      0

[5 rows x 16 columns]

In [31]:
# seleção randômica de um dos 9 grupos

random.seed(1) 
random.randint(0, 9)

2

In [32]:
# acessar o df e buscar registros em que o grupo é igual a 7

df_agrupamento = dataset[dataset['grupos'] == 7]
df_agrupamento.shape

(2766, 16)

In [33]:
# verificação da codificação

df_agrupamento['grupos'].value_counts()

7    2766
Name: grupos, dtype: int64

In [34]:
# criação de função para retornar o dataframe

def amostragem_agrupamento(dataset, numero_grupos):
  intervalo = len(dataset)/numero_grupos

  grupos = []   # reutilização de código para adicionar os grupos no dataframe
  id_grupo = 0  
  contagem = 0   

  for _ in dataset.iterrows():   
    grupos.append(id_grupo)   
    contagem += 1   
    if contagem > intervalo:   
      contagem = 0   
      id_grupo += 1   
  
  dataset['grupos'] = grupos
  random.seed(1)
  grupo_selecionado = random.randint(0, numero_grupos)

  return dataset[dataset['grupos'] == grupo_selecionado]

In [35]:
df_amostra_agrupamento = amostragem_agrupamento(dataset, 100)
df_amostra_agrupamento.shape, df_amostra_agrupamento['grupos'].value_counts()

((256, 16), 17    256
 Name: grupos, dtype: int64)

In [46]:
# visualização os dados 

df_amostra_agrupamento.head()

      age     workclass  final-weight  ...  native-country  income grupos
4352   28       Private         87239  ...   United-States   <=50K     17
4353   63       Private        127363  ...   United-States   <=50K     17
4354   53   Federal-gov        199720  ...         Germany    >50K     17
4355   37       Private        143058  ...   United-States   <=50K     17
4356   50   Federal-gov         36489  ...   United-States   <=50K     17

[5 rows x 16 columns]

**1.6 AMOSTRAGEM ESTRATIFICADA**
<p align = 'JUSTIFY'> A amostragem estratificada consiste em 
especificar quantos elementos da amostra serão retirados em cada estrato. É costume considerar três tipos de amostragem estratificada: uniforme, proporcional e ótima. 

<p align = 'JUSTIFY'>Na amostragem estratificada uniforme, sorteia-se igual número de elementos em cada estrato. 

<p align = 'JUSTIFY'> Na proporcional, o número de elementos sorteados em cada estrato é proporcional ao número de elementos existentes no estrato. Evidentemente, a amostragem estratificada uniforme será, em geral, recomendável se os estratos da população forem pelo menos aproximadamente do mesmo tamanho; caso contrário, será em geral preferível a estratificação proporcional, por fornecer uma amostra mais representativa da população.


<p align = 'JUSTIFY'>A amostragem estratificada ótima, por sua vez, toma, em cada estrato, um número de elementos proporcional ao número de elementos do estrato e também à variação da variável de interesse no estrato, medida pelo seu desvio padrão.

In [47]:

from sklearn.model_selection import StratifiedShuffleSplit   #passa como parâmetro o campo para divisão

In [105]:
#dataset.head()

In [131]:
dataset = pd.read_csv('census.csv') #sem "grupos"

In [107]:
#verificação de proporção de pessoas em relação à renda

#19456 pessoas ganham menos de 50k/ano
#6108 pessoas ganham mais de 50k/ano

dataset['income'].value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [108]:
#24% ganham mais de 50k/ano
7841/len(dataset)

0.2408095574460244

In [109]:
#75% ganham menos de 50k/ano
24720/len(dataset)

0.7591904425539756

In [110]:
#a amostra randomica poderia selecionar só os que ganham menos de 50k/ano
#por isso, a amostra estratificada é mais conveniente, seleciona com proporção 

split = StratifiedShuffleSplit(test_size= 0.1)   #10% da base de dados será selecionada
for x, y in split.split(dataset, dataset['income']):   #passa a base e o campo para a divisão
  df_x = dataset.iloc[x]   #90% da base
  df_y = dataset.iloc[y]   #10% na amostra

In [112]:
#dataset.isnull().sum()

In [113]:
#print(dataset.income.value_counts())
#income_freq = dataset.income.value_counts()[0]

In [114]:
#dataset.income.fillna(income_freq, inplace= True)

In [115]:
#dataset.income.isnull().sum()

In [117]:
#dataset['income'].value_counts()

In [126]:
split = StratifiedShuffleSplit(test_size = 0.1)   #10% da base de dados será selecionada
for x, y in split.split(dataset, dataset['income']):   #passa a base e o campo para a divisão
  df_x = dataset.iloc[x]   #90% da base
  df_y = dataset.iloc[y]   #10% na amostra

In [127]:
df_x.shape, df_y.shape

((29304, 15), (3257, 15))

In [128]:
#seleção de 100 amostras

100/len(dataset)   #com o resultado, muda test_size

0.0030711587481956942

In [134]:
split = StratifiedShuffleSplit(test_size = 0.0030711587481956942)   
for x, y in split.split(dataset, dataset['income']):   #passa a base e o campo para a divisão
  df_x = dataset.iloc[x]   #90% da base
  df_y = dataset.iloc[y]   #10% na amostra

In [135]:
df_x.shape, df_y.shape

((32461, 15), (100, 15))

In [136]:
#foi dividido proporcionalmente

df_y['income'].value_counts()

 <=50K    76
 >50K     24
Name: income, dtype: int64